
<H1>mat tabs</H1>
<mat-divider></mat-divider>
<mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            UPC Win turns 3
          </ng-template>
          The SELISE Telco unit, with its product team located in Bhutan has proudly delivered solutions to UPC’s B2B sales unit for over three years.
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            SELISE ECAP Now
          </ng-template>
          SELISE deployed a translation tool for ECAP based applications to mitigate the hassle of localization. The upgrade is available for all customers on AWS
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Simplifying Healthcare
          </ng-template>
          SELISE and SWICA collaborate to build an ecosystem that connects customers to over 25 thousand enlisted therapists specialising in alternative medicine.
        </mat-tab>
      </mat-tab-group>
      
